/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Added by dev */

table {
  width: 100%;
  border-collapse: unset;
  border-spacing: 0px;
}

mat-icon {
  cursor: pointer;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 2%;
}

.icon-pad {
  color: purple;
  padding-right: 55px;
}

.icon {
  padding: 1%;
}

.form-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -10px;
  z-index: 5;
}

tr.example-detail-row {
  height: 0 !important;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  flex-direction: row;
  align-items: center;
}

.example-element-detail {
  overflow: hidden;
}

