<mat-form-field style="width: 100%; font-size: 14px;">
  <mat-label>Filtrar</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

    <!-- Usuario Column -->
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
      <td mat-cell *matCellDef="let row"> {{row.usuario}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="dataPedido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
      <td mat-cell *matCellDef="let row"> {{row.dataPedido}} </td>
    </ng-container>

    <!-- Observação Column -->
    <ng-container matColumnDef="observacao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Obs </th>
      <td mat-cell *matCellDef="let row"> {{row.observacao}} </td>
    </ng-container>

    <!-- Preço Column -->
    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Preço </th>
      <td mat-cell *matCellDef="let row"> {{row.preco}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell
          *matCellDef="let row"
          [attr.colspan]="displayedColumns.length">
        <div class="expanded-element-detail"
             [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
          <div>Bla</div>
        </div>
      </td>
    </ng-container>

    <!--<ng-container matColumnDef="actions" class="icon">
      <th mat-header-cell
          *matHeaderCellDef
          (click)="add()">
        <mat-icon style="color: purple">add</mat-icon>
      </th>
    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="expanded-element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row
        *matRowDef="let row;
        columns: ['expandedDetail']"
        class="expanded-detail-row">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>



