.divInicio {
  display: flex;
  justify-content: space-between;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
}

.divColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.finalPanel {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 14px;
}


.finalButton {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.6%;
}
