.div-inicio {
  display: flex;
  justify-content: space-between;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.div-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.final-panel {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 14px;
}

.final-button {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.6%;
}
