.div-inicio {
  display: flex;
  justify-content: space-between;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.div-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.final-panel {
  display: flex;
  justify-content: space-between;
  text-align: right;
  font-size: 14px;
}

.final-button {
  margin-bottom: 6px;
}

@media only screen and (max-width: 470px) {
  .final-panel {
    display: flex;
    flex-direction:column;
    text-align: right;
    font-size: 14px;
  }
}
