<ng-container>
  Pedido para a mesa {{numMesa}}
</ng-container>

<mat-form-field style="width: 100%; font-size: 14px;">
  <mat-label>Filtrar</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

    <!-- Produto Column -->
    <ng-container matColumnDef="produto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Produto </th>
      <td mat-cell *matCellDef="let row" [ngClass]="row.id == 0 ? 'escondido': 'exibido'"> {{row.id}} </td>
    </ng-container>

    <!-- Quantidade Column -->
    <ng-container matColumnDef="quantidade">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade </th>
      <td mat-cell *matCellDef="let row" [ngClass]="row.id == 0 ? 'escondido': 'exibido'"> {{row.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
          <form [formGroup]="produtoPedidoForm" [ngClass]="row.id == 0 ? 'form-add': 'form'">
            <mat-form-field>
              <input type="text"
                     placeholder="Pick one"
                     aria-label="Number"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option.nome}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Quantidade</mat-label>
              <input matInput formControlName="quantidade" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Observação</mat-label>
              <input matInput formControlName="observacao" required>
            </mat-form-field>
            <div>
              <mat-icon class="icon-pad" (click)="cancel()">clear</mat-icon>
              <mat-icon *ngIf="!produtoPedidoForm.valid" (click)="error()" class="icon-pad" style="color:#DDA0DD">check</mat-icon>
              <mat-icon *ngIf="produtoPedidoForm.valid" (click)="onSubmit()" class="icon-pad">check</mat-icon>
            </div>
          </form>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" class="icon">
      <th mat-header-cell *matHeaderCellDef (click)="add()"> <mat-icon style="color: purple">add</mat-icon> </th>
      <td mat-cell *matCellDef="let row" [ngClass]="row.id == 0 ? 'escondido': 'exibido'"> <mat-icon (click)="delete(row.id)">delete</mat-icon> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

