<mat-form-field style="width: 100%; font-size: 14px;">
  <mat-label>Filtrar</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let row" [ngClass]="row.id == 0 ? 'escondido': ''"> {{row.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
          <form [formGroup]="usuarioForm" [ngClass]="row.id == 0 ? 'form-add': 'form'">
            <mat-form-field style="width: 100%;">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome" required>
            </mat-form-field>
            <div>
              <div>
                <div formArrayName="enderecos" *ngFor="let endereco of enderecos.controls; index as i">
                  <ng-container [formGroupName]="i">
                    <div style="display: flex; flex-direction: row; align-items: center;">
                      <div class="form-array-end">
                        <mat-form-field>
                          <mat-label>CEP</mat-label>
                          <input matInput mask="00000-000" formControlName="cep" (keyup)="autoCompleteCep(i)" required />
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Bairro</mat-label>
                          <input matInput formControlName="bairro" required />
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Logradouro</mat-label>
                          <input matInput formControlName="logradouro" required />
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Número</mat-label>
                          <input matInput type="number" formControlName="numero" required />
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Localidade</mat-label>
                          <input matInput formControlName="localidade" required />
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Complemento</mat-label>
                          <input matInput formControlName="complemento" />
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Observação</mat-label>
                          <input matInput formControlName="observacao" />
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>UF</mat-label>
                          <input matInput maxlength=2 formControlName="uf" required />
                        </mat-form-field>
                      </div>
                      <div style="margin-left: 6%;">
                        <mat-icon style="margin-left: -60%;" (click)="removeEndereco(i)">clear</mat-icon>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div class="divIcon">
                  <mat-icon style="align-self: center;" (click)="addEndereco()">add</mat-icon>
                </div>
              </div>

              <div>
                <div formArrayName="telefones" *ngFor="let telefone of telefones.controls; index as i">
                  <ng-container [formGroupName]="i">
                    <div class="form-array-end">
                      <mat-form-field>
                        <mat-label>Telefone</mat-label>
                        <input matInput mask="(00) 00000-0000" formControlName="value" required />
                      </mat-form-field>
                      <div style="margin-left: 6%;">
                        <mat-icon style="margin-left: -60%;" (click)="removeTelefone(i)">clear</mat-icon>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div class="divIcon">
                  <mat-icon style="align-self: center;" (click)="addTelefone()">add</mat-icon>
                </div>
              </div>

              <div style="display: flex; flex-direction: row; justify-content: space-around; margin-bottom: 10px; margin-top: 10px">
                <mat-icon style="align-self: center;color: purple" (click)="cancel()">clear</mat-icon>
                <mat-icon style="align-self: center;color:#DDA0DD" *ngIf="!usuarioForm.valid" (click)="error()" >check</mat-icon>
                <mat-icon style="align-self: center;color: purple" *ngIf="usuarioForm.valid" (click)="onSubmit()">check</mat-icon>
              </div>
            </div>
          </form>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" class="icon">
      <th mat-header-cell *matHeaderCellDef (click)="add()"> <mat-icon style="color: purple">add</mat-icon> </th>
      <td mat-cell *matCellDef="let row" [ngClass]="row.id == 0 ? 'escondido': 'exibido'"> <mat-icon (click)="delete(row.id)">delete</mat-icon> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
