table {
  width: 100%;
  border-collapse: unset;
  border-spacing: 0px;
}

.mat-form-field {
  margin: 1%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  flex-direction: row;
  align-items: center;
}

.example-element-detail {
  overflow: hidden;
}

.icon {
  padding: 1%;
}
