<mat-form-field style="width: 100%; font-size: 14px;">
  <mat-label>Filtrar</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

    <!-- ID Column -->
    <ng-container matColumnDef="idProduto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row" [ngClass]="row.idProduto == 0 ? 'escondido': 'exibido'"> {{row.idProduto}} </td>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let row" [ngClass]="row.idProduto == 0 ? 'escondido': 'exibido'"> {{row.nome}} </td>
    </ng-container>

    <!-- Preço Column -->
    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Preço </th>
      <td mat-cell *matCellDef="let row" [ngClass]="row.idProduto == 0 ? 'escondido': 'exibido'"> {{row.preco}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput placeholder={{element.idProduto}}>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput placeholder={{element.nome}}>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Preço</mat-label>
            <input matInput placeholder={{element.preco}}>
          </mat-form-field>
          <mat-icon style="color: purple">check</mat-icon>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" class="icon">
      <th mat-header-cell *matHeaderCellDef (click)="add()"> <mat-icon style="color: purple">add</mat-icon> </th>
      <td mat-cell *matCellDef="let row" [ngClass]="row.idProduto == 0 ? 'escondido': 'exibido'"> <mat-icon (click)="delete(row.idProduto)">delete</mat-icon> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

