img {
  margin: 8%;
}

div.img-container {
  text-align: center;
}

div.img-container div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

div.img-container div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.img-container div div a{
  margin-top: -2%;
}

