<div class="img-container">
  <div>
    <div>
      <img src="./assets/delivery.png" [routerLink]="['/delivery']" alt="delivery">
      <a [routerLink]="['/delivery']">Delivery</a>
    </div>
    <div>
      <img src="./assets/take-away.png" [routerLink]="['/takeaway']" alt="take-away">
      <a [routerLink]="['/takeaway']">Take Away</a>
    </div>
    <div >
      <img src="./assets/mesas.png" [routerLink]="['/mesas']" alt="mesas">
      <a [routerLink]="['/mesas']">Mesas</a>
    </div>
  </div>
  <div>
    <div>
      <img src="./assets/cadastros.png" [routerLink]="['/cadastros']" alt="cadastros">
      <a [routerLink]="['/cadastros']" >Cadastros</a>
    </div>
    <div>
      <img src="./assets/relatorios.png" [routerLink]="['/relatorios']" alt="relatorios">
      <a [routerLink]="['/relatorios']">Relatórios</a>
    </div>
    <div>
      <img src="./assets/configuracoes.png" [routerLink]="['/configuracoes']" alt="configuracoes">
      <a [routerLink]="['/configuracoes']">Configurações</a>
    </div>
  </div>
 </div>





