<div class="img-container">
  <div>
    <div>
      <img src="./assets/delivery.png" alt="delivery">
      <a>Delivery</a>
    </div>
    <div>
      <img src="./assets/take-away.png" alt="take-away">
      <a>Take Away</a>
    </div>
    <div>
      <img src="./assets/mesas.png" alt="mesas">
      <a>Mesas</a>
    </div>
  </div>
  <div>
    <div>
      <img src="./assets/cadastros.png" alt="cadastros">
      <a>Cadastros</a>
    </div>
    <div>
      <img src="./assets/relatorios.png" alt="relatorios">
      <a>Relatórios</a>
    </div>
    <div>
      <img src="./assets/configuracoes.png" alt="configuracoes">
      <a>Configurações</a>
    </div>
  </div>
 </div>





