.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.status-button {
  height: 80px;
  width: 80px;
  margin: 0.6%;
  background-color: lightgray;
  box-shadow: none;
}
  .status-button ::ng-deep .mat-button-focus-overlay {
    display: none;
  }

button {
  white-space: pre-wrap !important;
}

.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-bottom: 4%;
}

.mesas {
  background-color: lightgray;
  display: flex;
  position: relative;
  width: 15%;
  margin-top: 1.64%;
  justify-content: center;
  margin-left: 0.83%;
  margin-right: 0.83%
}

  .mesas:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

@media only screen and (max-width: 420px) {
  .mesas {
    font-size: small;
    width: 30%;
    margin-top: 3.32%;
    margin-left: 1.66%;
    margin-right: 1.66%
  }
}

.content {
  align-self: center;
  display: flex;
}
