<div class="flexReverse">
  <div *ngFor="let s of status" style.backgroundColor="{{s.cor}}" class="status">
    <div style="align-self: center;">
      {{s.nome}}
      <br />
      {{s.quantidade}}
    </div>
  </div>
</div>
<div class="flex">
  <div *ngFor="let mesa of mesas" class="mesas" style.backgroundColor="{{mesa.status?.cor}}">
    <div *ngIf="mesa.id != 0" class="content">
      Mesa {{mesa.id}}
    </div>
    <div *ngIf="mesa.id == 0" class="content" (click)="addMesas()" style="cursor:pointer">
      <mat-icon>add</mat-icon>
    </div>
  </div>
</div>
