<!--<header style="font-size: 22px; display: flex; justify-content: center;">
  Mesas
</header>-->

<div>
  <div class="flex-reverse">
    <button mat-fab class="status-button" (click)="addStatus()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-fab
            *ngFor="let s of status"
            (click)="clickStatus(s)"
            style.backgroundColor="{{s.cor}}"
            class="status-button">
      <div style="line-height: 19px">
        {{s.nome}}
        <br />
        {{s.quantidade}}
      </div>
    </button>
  </div>
</div>

<div class="flex">
  <div *ngFor="let mesa of mesas" class="mesas" style.backgroundColor="{{mesa.status?.cor}}">
    <div *ngIf="mesa.id != 0" class="content" (click)="clickMesa(mesa)">
      Mesa {{mesa.numero}}
    </div>
    <div *ngIf="mesa.id == 0" class="content" (click)="addMesas()" style="cursor:pointer">
      <mat-icon>add</mat-icon>
    </div>
  </div>
</div>
